<?xml version="1.0" encoding="UTF-8"?>
<Window mininfo="200,360" size="450,600">
	 
	<Include source="scrollbar.xml" />
	
	<Include source="defaults.xml" />
	
	<VerticalLayout inset="20,15,20,6" bkcolor="#FFFFFFFF" colorhsl="true" vscrollbar="true" autovscroll="true" 	>

		<HorizontalLayout minheight="30" maxheight="80">
            <RichEdit name="at_run" bkcolor="#0000FFFF" font="2" password="false" mutiline="false" rich="false" text="启动时自动运行" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<BSwitch name="sw1" ud="-5" textcolor="#FF333333" valign="vcenter" height="30" width="60" bkcolor="#FF888888" forecolor="#FFFF0000" value="50" min="0" max="100"/>
		    <Control width="5" />
		</HorizontalLayout>
		
		
		<Control minheight="6" maxheight="10"/>
		
		<HorizontalLayout minheight="30" maxheight="80">
            <RichEdit name="no_run" bkcolor="#0000FFFF" font="2" password="false" mutiline="false" rich="false" text="启动时保持关闭" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<BSwitch name="sw2" ud="6" textcolor="#FF333333" valign="vcenter" height="30" width="60" bkcolor="#FF888888" forecolor="#FFFF0000" value="50" min="0" max="100"/>
		    <Control width="5" />
		</HorizontalLayout>
		
		<Control minheight="6" maxheight="10"/>

    <HorizontalLayout minheight="30" maxheight="80">
      <RichEdit name="sv_upd" bkcolor="#0000FFFF" font="2" password="false" mutiline="false" rich="false" text="只在保存文件时更新预览" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
      <BSwitch name="sw4" ud="9" textcolor="#FF333333" valign="vcenter" height="30" width="60" bkcolor="#FF888888" forecolor="#FFFF0000" value="50" min="0" max="100"/>
      <Control width="5" />
    </HorizontalLayout>

    <Control minheight="6" maxheight="10"/>
    
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="LibCef" maxwidth="140" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" text="LibCef3目录：" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>	
			<Container bkcolor="#FF00FFFF" >
				<Combo name="bwpath"  itemmenu="true" normalimage="file='Combo_nor.bmp' corner='2,2,24,2'" hotimage="file='Combo_over.bmp' corner='2,2,24,2'" pushedimage="file='Combo_over.bmp' corner='2,2,24,2'" textpadding="1,1,1,1" font="12" textcolor="#00FFFFFF">
				</Combo>
				<HorizontalLayout   mouse="false">
					<Edit name="bwedit"  textcolor="#FF666666" bkcolor="#0000FFFF" font="12" multiline="false" rich="false"  padding="4,0,0,0"/>
					<Label bkcolor="#0000FFFF"  width="30" mouse="false" />
				</HorizontalLayout>
			</Container>
		</HorizontalLayout>
		
		<Control minheight="8" maxheight="10"/>
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="MiniBlink" maxwidth="140" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" text="MiniBlink目录：" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>	
			<Container bkcolor="#FF00FFFF" >
				<Combo name="mbpath"  itemmenu="true" normalimage="file='Combo_nor.bmp' corner='2,2,24,2'" hotimage="file='Combo_over.bmp' corner='2,2,24,2'" pushedimage="file='Combo_over.bmp' corner='2,2,24,2'" textpadding="1,1,1,1" font="12" textcolor="#00FFFFFF">
				</Combo>
				<HorizontalLayout   mouse="false">
					<Edit name="mbedit"  textcolor="#FF666666" bkcolor="#0000FFFF" font="12" multiline="false" rich="false"  padding="4,0,0,0"/>
					<Label bkcolor="#0000FFFF"  width="30" mouse="false" />
				</HorizontalLayout>
			</Container>
		</HorizontalLayout>
		
		<Control minheight="8" maxheight="10"/>
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="md_ext" text="Markdown 扩展名：" maxwidth="200" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<Container bkcolor="#FF00FFFF" >
				<Edit name="mddt" ud="0" normalimage="file='Combo_mir.bmp' corner='2,2,24,2'"  textcolor="#FF333333" bkcolor="#0000FFFF" font="11" multiline="false" rich="false"  padding="4,0,0,0"/>
			</Container>
		</HorizontalLayout>
		
		<Control minheight="6" maxheight="10"/>
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="ad_ext" text="AsciiDoc 扩展名：" maxwidth="200" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<Container bkcolor="#FF00FFFF" >
				<Edit name="addt" ud="1" normalimage="file='Combo_mir.bmp' corner='2,2,24,2'"  textcolor="#FF333333" bkcolor="#0000FFFF" font="11" multiline="false" rich="false"  padding="4,0,0,0"/>
			</Container>
		</HorizontalLayout>
		
		<Control minheight="6" maxheight="10"/>
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="html_ext" text="HTML 扩展名：" maxwidth="200" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<Container bkcolor="#FF00FFFF" >
				<Edit name="htdt" ud="2" normalimage="file='Combo_mir.bmp' corner='2,2,24,2'"  textcolor="#FF333333" bkcolor="#0000FFFF" font="11" multiline="false" rich="false"  padding="4,0,0,0"/>
			</Container>
		</HorizontalLayout>
		
		
		
		<Control minheight="8" maxheight="10"/>
		
		<HorizontalLayout minheight="30" maxheight="80">
            <RichEdit name="at_rnd" bkcolor="#0000FFFF" font="2" password="false" mutiline="false" rich="false" text="根据扩展名自动切换渲染方式" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>
			<BSwitch name="sw3" ud="-7" textcolor="#FF333333" valign="vcenter" height="30" width="60" bkcolor="#FF888888" forecolor="#FFFF0000" value="50" min="0" max="100"/>
		    <Control width="5" />
		</HorizontalLayout>
		
		<Control minheight="8" maxheight="10"/>
		
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="df_rnd" maxwidth="140" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" text="默认渲染方式：" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>	
			<Container bkcolor="#FF00FFFF" >
				<Combo name="rndType"  itemmenu="true" normalimage="file='Combo_nor.bmp' corner='2,2,24,2'" hotimage="file='Combo_over.bmp' corner='2,2,24,2'" pushedimage="file='Combo_over.bmp' corner='2,2,24,2'" textpadding="1,1,1,1" font="12" >
					<ListLabelElement text="  Markdown" selected="true"/>
          <ListLabelElement text="  AsciiDoc"/>
          <ListLabelElement text="  HTML"/>
				</Combo>
			</Container>
		</HorizontalLayout>
		
		<Control minheight="8" maxheight="10"/>
		
		
		<HorizontalLayout  minheight="30" maxheight="38">
			<RichEdit name="ui_loc" maxwidth="140" bkcolor="#0000FFFF" font="2" mutiline="false" rich="false" text="界面语言：" vscrollbar="false" hscrollbar="false" autohscroll="true" readonly="true" padding="2,2.8,0,0"/>	
			<Container bkcolor="#FF00FFFF" >
				<Combo name="language"  itemmenu="true" normalimage="file='Combo_nor.bmp' corner='2,2,24,2'" hotimage="file='Combo_over.bmp' corner='2,2,24,2'" pushedimage="file='Combo_over.bmp' corner='2,2,24,2'" textpadding="1,1,1,1" font="12" >
					<ListLabelElement text="  Markdown" selected="true"/>
					<ListLabelElement text="  AsciiDoc"/>
					<ListLabelElement text="  HTML"/>
				</Combo>
			</Container>
		</HorizontalLayout>
		
		
		<Control minheight="18" maxheight="30"/>
		<Control minheight="8" maxheight="10"/>
		
		<HorizontalLayout minheight="35" maxheight="50" >
			<Control/>
			<Button text="显示帮助…"  textcolor="#FFFFFFFF" name="help" width="360"  bkcolor="#0000E000" nativebkcolor="#0000E000"/>
			<Control/>
		</HorizontalLayout>
	</VerticalLayout>

		<Control minheight="8" maxheight="10"/>
		<Control minheight="8" maxheight="10"/>



</Window>